header {
    color: #40cac4;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #eeeded;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

header h1 {
    color: #40cac4;
}

.badge {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 0px;
    right: -16px;
    background: #ff00009e;
    color: #213547;
    padding: 2px 4px;
    border-radius: 12px;
}