#root {
  text-align: center;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #40cac4);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Base styles for all status boxes */
.status-container {
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    border: 1px solid;
    font-weight: 500;
    align-items: center;
    gap: 10px;
    animation: slideIn 0.3s ease-out; /* Subtle entrance animation */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    width: 280px;
}

/* Success: Soft Green Theme */
.success-container {
    /* color: #065f46; */
    border-color: #40cac4;
    background-color: #ecfdfd;
    color: #40cac4;
}

.success-container button {
    background-color: #40cac4;
    border: none;
    color: white;
}

/* Error: Soft Red Theme */
.error-container {
    background-color: #fef2f2; /* Very pale red */
    color: #991b1b;            /* Dark brick red text */
    border-color: #fecaca;     /* Soft red border */
}

.error-container button {
  background-color: #991b1b;
  color: white;
  border: none;
}

.warning-container {
    background-color: #fffbeb; /* Very pale red */
    color: #d97706;            /* Dark brick red text */
    border-color: #d97706;     /* Soft red border */
}

.error-container button {
  background-color: #d97706;
  color: white;
  border: none;
}

/* Simple entrance animation */
@keyframes slideIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}